#====================================================================================
# General
#====================================================================================

[elasticsearch]
hostname = https://gracc.opensciencegrid.org/q

#====================================================================================
# Email
#====================================================================================
# Set the global email related values under this section

[email]

from_name = GRACC Operations
# This is the real name from which the report appears to be emailed from
from_email = nobody@example.com
# This is the email from which the reports appears to be emailed from

# Tester emails
test_to_names = Test Recipient
test_to_emails= nobody@example.com

# This is the FQDN of the mail server, which gratia will use to send the email
# Example value: yourSmtpServer.yourDomain.com
smtphost = smtp.example.gov

#====================================================================================
# Report-specific parameters
#====================================================================================

# Efficiency Report
[query]
mu2e_commonname=/CN=production/mu2egpvm01.fnal.gov
nova_commonname=/CN=novaproduction/nova-offline.fnal.gov
uboone_commonname=/CN=uboonepro/uboonegpvm01.fnal.gov

# Job Success Rate Report
[noproduction]
list=seaquest,darkside

#====================================================================================
# VO-specific parameters.  Comma-separated lists where needed
#====================================================================================

[cdf]
min_hours=1000
efficiency=0.5
efficiency_to_emails=willis@fnal.gov


[cdms]
min_hours=1000
efficiency=0.5
efficiency_to_emails=nobody@example.com


[darkside]
min_hours=500
efficiency=0.35
efficiency_to_emails=nobody@example.com

voname=/fermilab/darkside/Role=*
jobsuccessrate_to_emails = nobody@example.com


[dune]
min_hours=1000
efficiency=0.5
efficiency_to_emails=nobody@example.com

voname=/dune/Role=Production/Capability=NULL
jobsuccessrate_to_emails = nobody@example.com


[gm2]
min_hours=1000
efficiency=0.5
efficiency_to_emails=nobody@example.com


[mars]
min_hours=1000
efficiency=0.5
efficiency_to_emails=nobody@example.com


[minerva]
min_hours=1000
efficiency=0.5
efficiency_to_emails=nobody@example.com


[minos]
min_hours=1000
efficiency=0.5
efficiency_to_emails=nobody@example.com


[mu2e]
min_hours=1000
efficiency=0.5
efficiency_to_emails=nobody@example.com

voname=/fermilab/mu2e/Role=Production/Capability=NULL
jobsuccessrate_to_emails = nobody@example.com


[nova]
efficiency_to_emails=nobody@example.com
min_hours=1000
efficiency=0.5

# num_clusters = 100
jobs_per_cluster = 20
# num_failed_sites = 20
# num_hosts_per_site = 20
# errors_per_host = 20
voname=/fermilab/nova/Role=Production/Capability=NULL
jobsuccessrate_to_emails = nobody@example.com


[sbnd]
min_hours=500
efficiency=0.65
efficiency_to_emails=nobody@example.com


[seaquest]
min_hours=1000
efficiency_to_emails=nobody@example.com
efficiency=0.5

voname=/fermilab/seaquest/Role=*
jobsuccessrate_to_emails = nobody@example.com


[uboone]
min_hours=1000
efficiency=0.5
efficiency_to_emails=nobody@example.com

voname=/fermilab/uboone/Role=Production/Capability=NULL
jobsuccessrate_to_emails = nobody@example.com


#====================================================================================
# Other
#====================================================================================

[defaults]
default_logdir = /var/log