;====================================================================================
; Email
;====================================================================================
; Set the email related values under this section

[email]

realname = Gratia Operation
; This is the real name from which the report appears to be emailed from

from = sbhat@fnal.gov 
; This is the email from which the reports appears to be emailed from

realname = Shreyas Bhat
test_to = sbhat@fnal.gov,tlevshin@fnal.gov
;test_to = sbhat@fnal.gov,shreyb@gmail.com
nova_email = sbhat@fnal.gov
mu2e_email = sbhat@fnal.gov
uboone_email=sbhat@fnal.gov
dune_email=sbhat@fnal.gov
; Email to which all the reports (except for the user site report which needs to be set below)
; need to be sent to.
; If you want the reports to be emailed, this value needs to be set
; Also if the report cron is enabled then this value needs to be set
; If the cron is disabled and you don't set this value, then the report
; will be print to screen
; Example value: myEmail@myDomain.com
smtphost = smtp.fnal.gov
; This is the FQDN of the mail server, which gratia will use to send the email
; Example value: yourSmtpServer.yourDomain.com

[query]
mu2e_voname=/fermilab/mu2e/Role=Production/Capability=NULL
nova_voname=/fermilab/nova/Role=Production/Capability=NULL
uboone_voname=/fermilab/uboone/Role=Production/Capability=NULL
dune_voname=/dune/Role=Production/Capability=NULL
