include *.md *.txt
recursive-include config *.toml *.spec
recursive-include html_templates *.html
recursive-include src/graccreports/config *.toml *.spec
recursive-include src/graccreports/html_templates *.html
recursive-include docs *.md