include *.md *.html *.txt *.toml
recursive-include config *
recursive-include html_templates *
recursive-include src/graccreports/config/ *
recursive-include src/graccreports/html_templates/ *.html
recursive-include docs *.md
recursive-include SampleScripts *.sh
