#====================================================================================
# Email
#====================================================================================
# Set the global email related values under this section

[email]

from_name = GRACC Operations
# This is the real name from which the report appears to be emailed from
from_email = sbhat@fnal.gov
# This is the email from which the reports appears to be emailed from

test_to_names = Tanya Levshina,Shreyas Bhat
test_to_emails = tlevshin@fnal.gov,sbhat@fnal.gov
# test_to_emails = sbhat@fnal.gov

fife_email=fife-group@fnal.gov,votava@fnal.gov
# Email to which all the reports (except for the user site report which needs to be set below)
# need to be sent to.
# If you want the reports to be emailed, this value needs to be set
# Also if the report cron is enabled then this value needs to be set
# If the cron is disabled and you don't set this value, then the report
# will be print to screen
# Example value: myEmail@myDomain.com

smtphost = smtp.fnal.gov
# This is the FQDN of the mail server, which gratia will use to send the email
# Example value: yourSmtpServer.yourDomain.com

#====================================================================================
# Databases
#====================================================================================
[query]
mu2e_commonname=/CN=production/mu2egpvm01.fnal.gov
nova_commonname=/CN=novaproduction/nova-offline.fnal.gov
uboone_commonname=/CN=uboonepro/uboonegpvm01.fnal.gov

[nova]
#asked to send email weekly
to_emails=tlevshin@fnal.gov,sbhat@fnal.gov,ahimmel@fnal.gov
min_hours=1000
efficiency=0.5

[seaquest]
#can you set it up for us so that it sends it weekly using the default settings for now, at my address and the following 
min_hours=1000
to_emails=tlevshin@fnal.gov,sbhat@fnal.gov,chenyc@fnal.gov,timm@fnal.gov
efficiency=0.5

[minerva]
#1. Email, yes 2. Weekly 3. perdue@fnal.gov, druterbo@pas.rochester.edu 4. 50% seems okay, sort of hard to judge where we will want that to settle.  5. wall duration seems okay, hard to judge.
min_hours=1000
efficiency=0.5
to_emails=tlevshin@fnal.gov,sbhat@fnal.gov,perdue@fnal.gov,druterbo@pas.rochester.edu

[minos]
min_hours=1000
efficiency=0.5
to_emails=tlevshin@fnal.gov,sbhat@fnal.gov,wingmc@gmail.com

[gm2]
#no reply
min_hours=1000
efficiency=0.5
to_emails=tlevshin@fnal.gov,sbhat@fnal.gov,lyon@fnal.gov

[mu2e]
min_hours=1000
efficiency=0.5
to_emails=tlevshin@fnal.gov,sbhat@fnal.gov,kutschke@fnal.gov

[uboone]
#send to Herb with default parameters daily
min_hours=1000
efficiency=0.5
to_emails=tlevshin@fnal.gov,sbhat@fnal.gov,greenlee@fnal.gov,kirby@fnal.gov

[darkside]
#weekly to Ken  35%  500 hours
min_hours=500
efficiency=0.35
to_emails=tlevshin@fnal.gov,sbhat@fnal.gov,kherner@fnal.gov

[dune]
#Weekly e-mails to trj@fnal.gov,afarbin@uta.edu 
min_hours=1000
efficiency=0.5
to_emails=tlevshin@fnal.gov,sbhat@fnal.gov,trj@fnal.gov,afarbin@uta.edu

[cdms]
min_hours=1000
efficiency=0.5
to_emails=tlevshin@fnal.gov,sbhat@fnal.gov

[mars]
min_hours=1000
efficiency=0.5
to_emails=tlevshin@fnal.gov,sbhat@fnal.gov

[cdf]
#monthly 
min_hours=1000
efficiency=0.5
to_emails=willis@fnal.gov

[sbnd]
#weekly, 500 hours/week, <0.65 efficiency, petrillo@fnal.gov
min_hours=500
efficiency=0.65
to_emails=sbhat@fnal.gov,tlevshin@fnal.gov,petrillo@fnal.gov


#====================================================================================
# Other
#====================================================================================

[defaults]
default_logdir = /var/log