#====================================================================================
# General
#====================================================================================

[elasticsearch]
hostname = https://gracc.opensciencegrid.org/q

#======================
# Email
#====================================================================================
# Set the global email related values under this section

[email]
from_name = GRACC Operations
# This is the real name from which the report appears to be emailed from
from_email = sbhat@fnal.gov
# This is the email from which the reports appears to be emailed from

# Testers
test_to_names = Shreyas Bhat,Tanya Levshina
test_to_emails = sbhat@fnal.gov,tlevshin@fnal.gov
%%test_to_names = Shreyas Bhat
%%test_to_emails = sbhat@fnal.gov

# Report email recipients
flocking_to_emails = osg-joint-uscg@opensciencegrid.org
flocking_to_names = OSG Joint Support

news_to_emails = tlevshin@fnal.gov,kherner@fnal.gov,fkw@ucsd.edu,rwg@uchicago.edu,rquick@iu.edu
news_to_names = Tanya Levshina,Ken Herner,Frank Wuerthwein,Rob Gardner,Robert Quick

probe_to_emails = sbhat@fnal.gov,goc@opensciencegrid.org
probe_to_names = Shreyas Bhat,GOC

#Project report/Missing Project Report
xd_admins_to_emails = tlevshin@fnal.gov,osg-joint-uscg@opensciencegrid.org,miron@cs.wisc.edu,fkw@ucsd.edu,dswanson@cse.unl.edu
xd_admins_to_names = Tanya Levshina,OSG Joint Support,Miron Livny,Frank Wuerthwein,David Swanson

xd_to_emails = tlevshin@fnal.gov,osg-joint-uscg@opensciencegrid.org,miron@cs.wisc.edu,fkw@ucsd.edu,dswanson@cse.unl.edu
xd_to_names = Tanya Levshina,OSG Joint Support,Miron Livny,Frank Wuerthwein,David Swanson

osg_to_emails = tlevshin@fnal.gov,osg-joint-uscg@opensciencegrid.org,miron@cs.wisc.edu,fkw@ucsd.edu,dswanson@cse.unl.edu
osg_to_names = Tanya Levshina,OSG Joint Support,Miron Livny,Frank Wuerthwein,David Swanson

osg-connect_to_emails = tlevshin@fnal.gov,osg-joint-uscg@opensciencegrid.org,miron@cs.wisc.edu,fkw@ucsd.edu,dswanson@cse.unl.edu
osg-connect_to_names = Tanya Levshina,OSG Joint Support,Miron Livny,Frank Wuerthwein,David Swanson


siteusage_to_emails = kherner@fnal.gov
siteusage_to_names = Ken Herner

wastedhours_to_emails = sbhat@fnal.gov
wastedhours_to_names = Shreyas Bhat


# This is the FQDN of the mail server, which gratia will use to send the email
# Example value: yourSmtpServer.yourDomain.com
smtphost = smtp.fnal.gov


#====================================================================================
# Databases
#====================================================================================
#XD database
[xd_db]
hostname=tgcdb.xsede.org
port=5432
username=osgro
password=dnj2ok5b
schema=teragrid


#====================================================================================
# OIM
#====================================================================================
[query]
#list of schedds flocking to OSG (got these and all probe lists from Mats Rynge)
Duke-Connect_probe_list='condor:login.duke.ci-connect.net'
#some other submission nodes
UCSD_probe_list='condor:engage-submit-1.t2.ucsd.edu'
CMS_probe_list='condor:login.cms.ci-connect.net'


#====================================================================================
# Report-specific parameters
#====================================================================================

[flocking_report]
flocking_probe_list=condor:amundsen.grid.uchicago.edu,condor:csiu.grid.iu.edu,condor:glide.bakerlab.org,condor:gw68.quarry.iu.teragrid.org,condor:iplant-condor-iu.tacc.utexas.edu,condor:iplant-condor.tacc.utexas.edu,condor:otsgrid.iit.edu,condor:scott.grid.uchicago.edu,condor:submit1.bioinformatics.vt.edu,condor:submit.mit.edu,condor:SUBMIT.MIT.EDU,condor:workflow.isi.edu

[namecorrection]
mwt2url = http://myosg.grid.iu.edu/rgsummary/xml?summary_attrs_showfqdn=on&current_status_attrs_shownc=on&gip_status_attrs_showtestresults=on&downtime_attrs_showpast=&account_type=cumulative_hours&ce_account_type=gip_vo&se_account_type=vo_transfer_volume&bdiitree_type=total_jobs&bdii_object=service&bdii_server=is-osg&facility_sel[]=10023&rg=on&rg_sel[]=310&gridtype=on&gridtype_1=on&service=on&service_sel[]=1&active=on&active_value=1&disable_value=1

[news]
OSG_flocking_probe_list='condor:osg-xsede.grid.iu.edu','condor:gw68.quarry.iu.teragrid.org','condor:xd-login.opensciencegrid.org','condor:csiu.grid.iu.edu','condor:submit1.bioinformatics.vt.edu','condor:iplant-condor.tacc.utexas.edu','condor:workflow.isi.edu','condor:osg-xsede.grid.iu.edu','condor:xd-login.opensciencegrid.org','condor:ce04.cmsaf.mit.edu','condor:csiu.grid.iu.edu','condor:submit.mit.edu','condor:login01.osgconnect.net','condor:login.ci-connect.uchicago.edu','condor:login.umich.ci-connect.net','condor:login02.osgconnect.net','condor:login03.osgconnect.net','condor:login.usatlas.org','condor:login.duke.ci-connect.net','condor:login.xenon.ci-connect.net','condor:login.duke.ci-connect.net'

[project]
XD_probe_list='condor:osg-xsede.grid.iu.edu','condor:gw68.quarry.iu.teragrid.org','condor:xd-login.opensciencegrid.org'
OSG_probe_list='condor:submit1.bioinformatics.vt.edu','condor:iplant-condor.tacc.utexas.edu','condor:workflow.isi.edu','condor:osg-xsede.grid.iu.edu','condor:xd-login.opensciencegrid.org','condor:ce04.cmsaf.mit.edu'
OSG-Connect_probe_list='condor:login01.osgconnect.net','condor:login.ci-connect.uchicago.edu','condor:login.umich.ci-connect.net','condor:login02.osgconnect.net','condor:login03.osgconnect.net','condor:login.usatlas.org','condor:login.xenon.ci-connect.net'


#====================================================================================
# Other
#====================================================================================

[defaults]
default_logdir = /var/log
