#====================================================================================
# Email
#====================================================================================
# Set the global email related values under this section

[email]

from_name = GRACC Operations
# This is the real name from which the report appears to be emailed from
from_email = sbhat@fnal.gov
# This is the email from which the reports appears to be emailed from

# Tester emails
test_to_names = Shreyas Bhat,Tanya Levshina
test_to_emails= sbhat@fnal.gov,tlevshin@fnal.gov
# test_to = sbhat@fnal.gov

# This is the FQDN of the mail server, which gratia will use to send the email
# Example value: yourSmtpServer.yourDomain.com
smtphost = smtp.fnal.gov

# Portion for all vo-specific configurations

[noproduction]
list=seaquest

[nova]
# num_clusters = 100
jobs_per_cluster = 20
# num_failed_sites = 20
# num_hosts_per_site = 20
# errors_per_host = 20
voname=/fermilab/nova/Role=Production/Capability=NULL
to_emails = dingpf@fnal.gov,fife-group@fnal.gov,opos@fnal.gov,o9h8i7a2k1x1o7y5@neutrino.slack.com


[mu2e]
voname=/fermilab/mu2e/Role=Production/Capability=NULL
to_emails = gandr@fnal.gov,rlc@fnal.gov,kutschke@fnal.gov,fife-group@fnal.gov,opos@fnal.gov,


[uboone]
voname=/fermilab/uboone/Role=Production/Capability=NULL
to_emails = kirby@fnal.gov,greenlee@fnal.gov,kterao@fnal.gov,jiangl@fnal.gov,joelam@fnal.gov,fife-group@fnal.gov


[dune]
voname=/dune/Role=Production/Capability=NULL
to_emails = trj@fnal.gov,tjyang@fnal.gov,opos@fnal.gov


[seaquest]
voname=/fermilab/seaquest/Role=*
to_emails = liuk.pku@gmail.com,bjrams@umich.edu
