;====================================================================================
; Email
;====================================================================================
; Set the email related values under this section

[email]

realname = GRACC Operations
; This is the real name from which the report appears to be emailed from

from = sbhat@fnal.gov 
; This is the email from which the reports appears to be emailed from

realname = Shreyas Bhat
test_to = sbhat@fnal.gov,tlevshin@fnal.gov
;test_to = sbhat@fnal.gov
nova_email = ahimmel@fnal.gov,dingpf@fnal.gov,desai@physics.umn.edu,fife-group@fnal.gov,opos@fnal.gov,o9h8i7a2k1x1o7y5@neutrino.slack.com
mu2e_email = gandr@fnal.gov,rlc@fnal.gov,kutschke@fnal.gov,fife-group@fnal.gov,opos@fnal.gov,
uboone_email=kirby@fnal.gov,greenlee@fnal.gov,kterao@fnal.gov,jiangl@fnal.gov,joelam@fnal.gov,fife-group@fnal.gov
dune_email=trj@fnal.gov,tjyang@fnal.gov,opos@fnal.gov
seaquest_email=liuk.pku@gmail.com,bjrams@umich.edu
; Email to which all the reports (except for the user site report which needs to be set below)
; need to be sent to.
; If you want the reports to be emailed, this value needs to be set
; Also if the report cron is enabled then this value needs to be set
; If the cron is disabled and you don't set this value, then the report
; will be print to screen
; Example value: myEmail@myDomain.com
smtphost = smtp.fnal.gov
; This is the FQDN of the mail server, which gratia will use to send the email
; Example value: yourSmtpServer.yourDomain.com

[noproduction]
list=seaquest

; Portion for all vo-specific configurations

[nova]
;num_clusters=100
jobs_per_cluster=20
voname=/fermilab/nova/Role=Production/Capability=NULL

[mu2e]
voname=/fermilab/mu2e/Role=Production/Capability=NULL

[uboone]
voname=/fermilab/uboone/Role=Production/Capability=NULL

[dune]
voname=/dune/Role=Production/Capability=NULL

[seaquest]
voname=/fermilab/seaquest/Role=*
