#Configuration for generating OSG Project Reports
#====================================================================================
# Email
#====================================================================================
# Set the global email related values under this section

[email]
from_name = GRACC Operations
# This is the real name from which the report appears to be emailed from
from_email = sbhat@fnal.gov
# This is the email from which the reports appears to be emailed from

# Testers
#test_to_names = Shreyas Bhat,Tanya Levshina
# test_to_emails = sbhat@fnal.gov,tlevshin@fnal.gov
test_to_names = Shreyas Bhat
test_to_emails = sbhat@fnal.gov

# Report email recipients
project_to_names = Shreyas Bhat
project_to_emails = sbhat@fnal.gov

flocking_to_names = Shreyas Bhat
flocking_to_emails = sbhat@fnal.gov

siteusage_to= sbhat@fnal.gov
#siteusage_to=tlevshin@fnal.gov
#siteusage_to_names=Tanya Levshina
siteusage_to_names= Shreyas Bhat

news_to_emails = sbhat@fnal.gov
#news_to_names = Tanya Levshina, Bo Jayatilaka,Frank Wuerthwein,Rob Gardner,Robert Quick

probe_to_emails = sbhat@fnal.gov,goc@opensciencegrid.org
probe_to_names = Shreyas Bhat,GOC

wastedhours_to_emails = sbhat@fnal.gov
wastedhours_to_names = Shreyas Bhat

xd_admins_to_emails = sbhat@fnal.gov
xd_admins_to_names = Shreyas Bhat

# This next one goes to GOC eventually
osg_to_emails = sbhat@fnal.gov
osg_to_names = Shreyas Bhat


# This is the FQDN of the mail server, which gratia will use to send the email
# Example value: yourSmtpServer.yourDomain.com
smtphost = smtp.fnal.gov


#====================================================================================
# Databases
#====================================================================================
#XD database
[xd_db]
hostname=tgcdb.xsede.org
port=5432
username=osgro
password=dnj2ok5b
schema=teragrid


[main_db]
#hostname=gr-osg-mysql-reports.opensciencegrid.org
hostname=gratiadb02.fnal.gov
port=3306
username=reader
password=readdb2day
schema=gratia

#====================================================================================
# OIM
#====================================================================================
#project list in OIM
[OIM_URL]
project_url=http://myosg.grid.iu.edu/miscproject/xml?count_sg_1&count_active=on&count_enabled=on
flocking_url=http://myosg.grid.iu.edu/miscproject/xml?count_sg_1&count_active=on&count_enabled=on
siteusage_url=http://myosg.grid.iu.edu/rgsummary/xml?summary_attrs_showhierarchy=on&summary_attrs_showservice=on&gip_status_attrs_showtestresults=on&downtime_attrs_showpast=&account_type=cumulative_hours&ce_account_type=gip_vo&se_account_type=vo_transfer_volume&bdiitree_type=total_jobs&bdii_object=service&bdii_server=is-osg&start_type=7daysago&start_date=START&end_type=now&end_date=END&all_resources=on&gridtype=on&gridtype_1=on&active=on&active_value=1&disable_value=1
contact_file=contact.txt.off

[project_name]
#local cache of project name
csv=OSG.csv

[query]
#list of schedds flocking to OSG (got it from Mats Rynge)
XD_probe_list='condor:osg-xsede.grid.iu.edu','condor:gw68.quarry.iu.teragrid.org','condor:xd-login.opensciencegrid.org'
OSG_probe_list='condor:submit1.bioinformatics.vt.edu','condor:iplant-condor.tacc.utexas.edu','condor:workflow.isi.edu','condor:osg-xsede.grid.iu.edu','condor:xd-login.opensciencegrid.org','condor:ce04.cmsaf.mit.edu'
OSG-Connect_probe_list='condor:login01.osgconnect.net','condor:login.ci-connect.uchicago.edu','condor:login.umich.ci-connect.net','condor:login02.osgconnect.net','condor:login03.osgconnect.net','condor:login.usatlas.org'
Duke-Connect_probe_list='condor:login.duke.ci-connect.net'
#some other submission nodes
UCSD_probe_list='condor:engage-submit-1.t2.ucsd.edu'
CMS_probe_list='condor:login.cms.ci-connect.net'
OSG_flocking_probe_list='condor:gw68.quarry.iu.teragrid.org' ,'condor:workflow.isi.edu' ,'condor:osg-xsede.grid.iu.edu' ,'condor:duke-login.osgconnect.net' ,'condor:glide.bakerlab.org' ,'condor:iplant-condor.tacc.utexas.edu' ,'condor:login01.osgconnect.net' ,'condor:submit1.bioinformatics.vt.edu','condor:login.ci-connect.uchicago.edu','condor:login.umich.ci-connect.net','condor:login.duke.ci-connect.net','condor:xd-login.opensciencegrid.org','condor:login02.osgconnect.net','condor:login.cms.ci-connect.net','condor:login03.osgconnect.net','condor:login.usatlas.org','condor:ce04.cmsaf.mit.edu'

#====================================================================================
# Report-specific parameters
#====================================================================================

[flocking_report]
flocking_probe_list=condor:amundsen.grid.uchicago.edu,condor:csiu.grid.iu.edu,condor:glide.bakerlab.org,condor:gw68.quarry.iu.teragrid.org,condor:iplant-condor-iu.tacc.utexas.edu,condor:iplant-condor.tacc.utexas.edu,condor:otsgrid.iit.edu,condor:scott.grid.uchicago.edu,condor:submit1.bioinformatics.vt.edu,condor:submit.mit.edu,condor:SUBMIT.MIT.EDU,condor:workflow.isi.edu
